@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Marcelo</td>
                <td>+55 83 99654-7707</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Marcelo</td>
                <td>+55 83 99654-7707</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Marcelo</td>
                <td>+55 83 99654-7707</td>
            </tr>
        </tbody>
    </table>
</div>
